/* Responsive table */
.container {
    max-width: 100%;
  }
  
  table {
    width: 100%;
    min-width: 600px;
  }
  
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
    a {
      font-size: 0.9rem;
    }
    .btn {
      padding: 0.3rem 0.6rem;
      font-size: 0.8rem;
    }
    table {
      font-size: 0.9rem;
    }
  }
  